.zodiac-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
    background-image: url('https://imgs.search.brave.com/jRkI0weDkn8TT4bbwRUriREkkWqnHsnWiO8Ijx5Q1qg/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/dmV0b3Jlcy1ncmF0/aXMvZnVuZG8tYWJz/dHJhdG8tZ3JhZGll/bnRlLWNvbnN0ZWxh/Y2FvXzIzLTIxNDgy/ODI0ODUuanBnP3Np/emU9NjI2JmV4dD1q/cGc');
    background-size: cover;
  }