.App {
  text-align: center;
  color: #20232a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.App::after {
  content: "";
  background-image: url('./assets/Background.jpeg'); /* Verifique se o caminho está correto */
  background-size: cover;
  background-attachment: fixed; /* Fixa o fundo para que não se mova durante a rolagem */
  opacity: 0.4; /* Mantenha a opacidade total da imagem */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.App::before {
  content: "";
  background: rgba(0, 0, 0, 0.5); /* Fundo preto com opacidade de 50% */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -2; /* Fazendo com que fique atrás da imagem de fundo */
}

.App-header {
  background-color: #20232a;
  padding: 20px;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #20232a;
  color: white;
  padding: 10px 0;
  font-size: calc(8px + 1vmin);
}
