.App {
  text-align: center;
  color:  #20232a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.App::after {
  content: "";
  background-image: url('./assets/Background');
  background-size: cover;
  opacity: 0.6; /* Ajuste a opacidade aqui */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.App::before {
  content: "";
  background: rgb(128, 128, 128); /* Fundo cinza com opacidade */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}


.App-header {
  background-color: #20232a;
  padding: 20px;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #20232a;
  color: white;
  padding: 10px 0;
  font-size: calc(8px + 1vmin);
}