.App {
  text-align: center;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #282c34;
}

.App-header {
  background-color: #20232a;
  padding: 20px;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #20232a;
  color: white;
  padding: 10px 0;
  font-size: calc(8px + 1vmin);
}